<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936967007820-aothc1o4k12m9ue10qtq4c3odfukd4bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936967007820-aothc1o4k12m9ue10qtq4c3odfukd4bn</string>
	<key>API_KEY</key>
	<string>AIzaSyBiCUwXih_b3uvMA8dWxSbF0lKMc0GZb8I</string>
	<key>GCM_SENDER_ID</key>
	<string>936967007820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iotbot</string>
	<key>PROJECT_ID</key>
	<string>nurse-bot-4ed5f</string>
	<key>STORAGE_BUCKET</key>
	<string>nurse-bot-4ed5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936967007820:ios:4639d5c7828dc0c7b70ee9</string>
</dict>
</plist>